<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Success</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <style >
      body{

        text-align:center;
       }
       div{
         padding:10%;
         background-color:#931a25;
         color:	#ffffff;

       }
       h1{
         font-size:5rem;
         margin:3%;
       }
       p{
         font-size:2rem;
         margin:3%;
       }
    </style>
  </head>
  <body>

   <div >
     <h1>Success!!</h1>
     <p>Your order for <%=Petbreed %> <%=Petcolor %> pet has been placed successfully!!</p>

     
       <button class="btn btn-secondary btn-lg" type="button" onclick="location.href = '/home';">Go home!</button>
     

   </div>


  </body>
</html>
