body {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
  
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  h2{
    font-family:'Montserrat', cursive;
    line-height: 1.5;
    font-size: 3rem;
    padding: 5%;
  }
  
  h3{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.5rem;
  }
  
  p{
    color: #8f8f8f;
  }
  
  #title {
    background-color: #ff4c68;
    color: #ffffff;
  }
  
  .container-fluid {
    padding: 3% 15% 7%;
  }
  
  /* navigation bar */
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
  }
  
  /* downlaod buttons */
  .download-btn {
    margin: 5% 3% 5% 0;
  }
  
  /* Dog image */
  .dog-img {
    width: 70%;
    transform: rotate(25deg);
    position: absolute;
    right:3%;
  
  }
  
  /* features  Section*/
  #features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  
  .features-box{
    text-align: center;
    padding: 5%;
  }
  
  .icon{
  color: #ef8172;
  margin-bottom: 1rem;
  }
  
  .icon:hover{
    color: #ff4c68;
  }
  
  
  /* testimonials section */
  
  #testimonials{
  
    background-color:  #ef8172;
    text-align: center;
    color: #ffffff;
  }
  
  .testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  .carousel-item{
    padding: 7% 15%;
  }
  /* press section */
  
  #press{
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 5%;
  }
  
  .press-logo{
    width: 15%;
    margin: 20px 50px;
  }
  
  /* pricing */
  #pricing{
    padding: 5% 10%;
    text-align: center;
  }
  
  .pricing-box{
    padding:3% 2%;
  }
  
  .pricing-heading{
    padding-bottom:1%;
  }

  /* dogs and cats anchor */
  .petsa{
    color: rgb(56, 20, 20);
    margin: 20px;
  }
  
  /* cta last section */
  #cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 8% 15%;
    color: #fff;
    font-size: 2rem;
  
  }
  .bottom-text{
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
  }
  
  /* Footer */
  
  #footer{
    background-color: #fff;
    padding: 5%;
    text-align: center;
  }
  .contact-icons{
    padding-bottom:20px;
    margin:20px 10px;
  }
  
  /* mediaquire */
  
  @media (max-width:1028px){
  
  #title{
    text-align: center;
  }
  
  .dog-img{
    position: static;
    transform: rotate(0);
  }
  
  }
  